section.section-home-6.section-large
	.container 
		.row
			.col(class="lg:w-5/12")
				.content(class="text-white flex flex-col gap-4 mb-7 lg:mb-0") 
					h3(class="text-4xl lg:text-5xl") Quality Service For Growth Your Branding
					.desc Digital agency companies cater to businesses of all sizes and industries, from startups and small businesses to large enterprises.
					a(href="" class="btn btn-primary w-fit")
						.text Xem thêm
						.icon 
			.col(class="lg:w-7/12")
				.wrap-list-item.relative
					-for(i=0;i<4;i++)
						.item(class="py-7 px-10 bg-primary-3 mb-5 relative z-1 overflow-hidden") 
							div(class="shape")
								img(src="./img/shape.png", alt="")
							.image 
								img(src="./img/sv.png", alt="")
							div(class="flex-between flex-wrap gap-3")
								.title(class="text-24 font-bold text-white line-clamp-1 hover:text-primary-1") Digital Strategy Planning
								a(href="" class="btn-sw btn-secondary")
									.text Xem Thêm
									.icon

section.section-home-6-detail.section-large
	.container 
		.row
			.col(class="lg:w-5/12")
				.content(class="text-white flex flex-col gap-4 mb-7 lg:mb-0") 
					h3(class="text-4xl lg:text-5xl") Quality Service For Growth Your Branding
					.desc Digital agency companies cater to businesses of all sizes and industries, from startups and small businesses to large enterprises.
					a(href="" class="btn btn-primary w-fit")
						.text Xem thêm
						.icon 
			.col(class="lg:w-7/12")
				.wrap-list-item.relative
					-for(i=0;i<4;i++)
						.item(class="py-7 px-10 bg-primary-3 mb-5 relative z-1 overflow-hidden") 
							div(class="shape")
								img(src="./img/shape.png", alt="")
							.image 
								img(src="./img/sv.png", alt="")
							div(class="flex-between flex-wrap gap-3")
								.title(class="text-24 font-bold text-white line-clamp-1 hover:text-primary-1") Digital Strategy Planning
								.desc(class="text-base font-normal text-white") Digital Strategy Planning Digital Strategy Planning