.header-top.py-2.text-center
	.container 
		.logo
			img(src="./img/logo.png", alt="")

header.header
	.container.mx-auto
		.row(class="flex items-center justify-between")
			.col(class="w-12/12 header-right")
				.header-logo-mobile
					.logo
						img(src="./img/logo.png", alt="")
				nav(class="flex items-center justify-end")
					ul(class="header-menu")
						li
							a(href="/", class="") Trang chủ
						li.current
							a(href="/ve-chung-toi", class="") Khóa học sân khấu sự kiện
						li.menu-item-has-children
							a(href="/linh-vuc-hoat-dong", class="")  Khóa học vận hành Led, thiết kế Visual
						li
							a(href="/san-pham", class="")  Khóa học vận hành ánh sáng
						li.menu-item-has-children
							a(href="/phat-trien-ben-vung", class="")  Tác phẩm học viên
							.mega-menu
								.container
									ul.sub-menu
										li
											a(href="")  Depence R4 – M.a Timecode Lighting: Diễn hoạt, Timecode ánh sáng sân khấu, sự kiện
											.mega-wrap
												.walker-image
													img(src="./img/1.png", alt="")
										li
											a(href="") Khóa học sân khấu sự kiện 2
											.mega-wrap
												.walker-image
													img(src="./img/2.jpg", alt="")
										li
											a(href="") Khóa học sân khấu sự kiện 3
											.mega-wrap
												.walker-image
													img(src="./img/banner.jpg", alt="")
										li
											a(href="") Khóa học sân khấu sự kiện 4
											.mega-wrap
												.walker-image
													img(src="./img/bn.jpg", alt="")
					include HeaderHambuger.pug
