section.section-home-2.section-large
	.container 
		div(class="grid sm:grid-cols-2 lg:grid-cols-4 gap-8")
			-for(i=0;i<4;i++)
				.item(class="flex flex-col gap-5") 
					.image 	
						img(src="./img/ico-1.png", alt="")
					h4(class="text-xl font-semibold") Marketing & SEO Optimization
					.caption(class="text-base font-normal text-justify") Explained jas something an. Contrasted dissimilar get joy you instrument out reasonably. Again keeps at no meant stuff.
					//-a(href="" class="btn btn-primary")
					//-	.text Xem Thêm
					//-	.icon