section.section-kh-detail.section-large
	.container 
		.grid(class="grid-cols-1 lg:grid-cols-12 gap-10")
			div(class="col-span-full lg:col-span-4")
				.col-left
					h2(class="text-3xl lg:text-6xl font-bold text-black mb-10") The Foundation of 3D (Blender Basic)
					.content.format-content
						p 3D Blender Cơ Bản dành cho người mới bắt đầu, chưa biết gì về đồ họa cũng có thể theo học.
						p 3D Blender Cơ Bản dành cho người mới bắt đầu, chưa biết gì về đồ họa cũng có thể theo học.
			div(class="col-span-full lg:col-span-8")
				.col-right
					.wrap-faq.faq-full
						-for(i=0;i<4;i++)
							.item
								.wrap-heading
									.flex-between.gap-3
										.title(class="text-24 font-bold") Do we have to tip?
										.icon
											i(class="fa-light fa-angle-up")
								.wrap-content
									.content.format-content
										p Tipping is something of a grey area. As a principle and general guidance,
										p Tipping is something of a grey area. As a principle and general guidance,
										p Tipping is something of a grey area. As a principle and general guidance,
										p
											img(src="./img/img-1.jpg", alt="")
										ul
											li resr
											li sas

section.section-kh-1.section-large
	.container 
		h2(class="text-3xl lg:text-6xl text-center text-white mb-10") Học ra nghề, hỗ trợ việc làm, hỗ trợ kiến thức sau khóa học
		.wrap-list-content
			-for(j=0;j<3;j++)
				.row
					.col(class="lg:w-4/12")
						.col-left(class="text-white h-full p-10")
							h3
								a(href="") Phần 1: Phần mềm 3Ds Max - Depence R3 thiết kế sân khấu, sự kiện, Booth Activation
							.content
								ul
									-for(i=0;i<3;i++)
										li Cài đặt phần mềm 3Ds Max, giao diện và và phím tắt
							.list-social
								ul
									-for(i=0;i<3;i++)
										li 
											a(href="")
												img(src="./img/ico-1.png", alt="")
							a(href="" class="btn btn-primary w-fit")
								.text Xem Thêm
								.icon
					.col(class="lg:w-8/12")
						.col-right
							.image 
								a(href="https://www.youtube.com/watch?v=9qTr1CGFYLg" data-fancybox class="img-ratio ratio:pt-[580_920] img-zoom") 
									img(src="./img/img-1.jpg", alt="")
							.wrap-btn-play
								a(href="https://www.youtube.com/watch?v=9qTr1CGFYLg" data-fancybox class="btn-play")
									.icon

section.section-kh-2.section-large
	.container 
		.content(class="text-white flex items-start flex-col lg:flex-row lg:items-center justify-between pb-10 gap-4") 
			h2(class="text-3xl lg:text-6xl font-bold") Our Best AI Solutions
			a(href="" class="btn btn-primary")
				.text Xem Thêm
				.icon
	div(class="border border-[rgba(255,255,255,0.1)] border-b")
	.container
		.wrap-content-solution.pt-18
			.grid(class="lg:grid-cols-2 gap-20")
				.item-left
					ul
						li.nav-item(data-target="0")
							.nav-link.active
								.wrap-title
									.title AI-Powered Data Analytics
									span 34 Projects Available
						li.nav-item(data-target="1")
							.nav-link
								.wrap-title
									.title AI-Powered Data Analytics
									span 34 Projects Available
				.item-right
					.tab-content(data-id="0")
						.box-item
							.image(class="img-ratio ratio:pt-[354_600]")
								img(src="./img/img-1.jpg", alt="")
							.content 
								h3
									a(href="") AI- Powered Data Analytics 2
								.caption Our team of AI experts, data scientists, and creative technologists work collaboratively to develop customized AI models that solve complex challenges, streamline operations, and enhance user experiences.
								a(href="" class="btn btn-primary w-fit text-white") 
									.text Xem Thêm
									.icon 
					.tab-content(data-id="1")
						.box-item
							.image(class="img-ratio ratio:pt-[354_600]")
								img(src="./img/img-1.jpg", alt="")
							.content 
								h3
									a(href="") AI- Powered Data Analytics
								.caption Our team of AI experts, data scientists, and creative technologists work collaboratively to develop customized AI models that solve complex challenges, streamline operations, and enhance user experiences.
								a(href="" class="btn btn-primary w-fit text-white") 
									.text Xem Thêm
									.icon 
section.section-tutorial.section-large
	.container 
		h3(class="text-3xl lg:text-6xl text-center text-white font-bold mb-10") Học tập cùng các chuyên gia trong ngành Trực tiếp cầm tay chỉ việc - Online Gv kèm học
		.grid(class="lg:grid-cols-3 gap-10")
			.item
				div(class="flex items-center gap-5")
					.image 
						img(src="./img/ico-1.png", alt="")
					h4(class="text-24 font-bold text-white") Học trực tiếp, Gv kèm học, thời gian linh động
				div(class="text-primary-1 font-bold rem:text-[30px] uppercase") CHỨNG CHỈ KHÓA HỌC UY TÍN VỚI NHÀ TUYỂN DỤNG
				.list-content
					ul
						-for(i=0;i<5;i++)
							li Đăng ký học ngay, thời gian học linh động
				.list-social
					ul
						-for(i=0;i<3;i++)
							li 
								a(href="")
									img(src="./img/ico-1.png", alt="")
					a(href="" class="btn btn-primary w-fit")
						.text Liên hệ ngay
						.icon 
			.item
				div(class="flex items-center gap-5")
					.image 
						img(src="./img/ico-1.png", alt="")
					h4(class="text-24 font-bold text-white") Học trực tiếp, Gv kèm học, thời gian linh động
				div(class="text-primary-1 font-bold rem:text-[30px] uppercase") CHỨNG CHỈ KHÓA HỌC UY TÍN VỚI NHÀ TUYỂN DỤNG
				.list-content
					ul
						-for(i=0;i<5;i++)
							li Đăng ký học ngay, thời gian học linh động
				.list-social
					ul
						-for(i=0;i<3;i++)
							li 
								a(href="")
									img(src="./img/ico-1.png", alt="")
					a(href="" class="btn btn-primary w-fit")
						.text Liên hệ ngay
						.icon 
			.item
				div(class="flex items-center gap-5")
					.image 
						img(src="./img/ico-1.png", alt="")
					h4(class="text-24 font-bold text-white") Học trực tiếp, Gv kèm học, thời gian linh động
				div(class="text-primary-1 font-bold rem:text-[30px] uppercase") CHỨNG CHỈ KHÓA HỌC UY TÍN VỚI NHÀ TUYỂN DỤNG
				.list-content
					ul
						-for(i=0;i<5;i++)
							li Đăng ký học ngay, thời gian học linh động
				.list-social
					ul
						-for(i=0;i<3;i++)
							li 
								a(href="")
									img(src="./img/ico-1.png", alt="")
					a(href="" class="btn btn-primary w-fit")
						.text Liên hệ ngay
						.icon
section.section-video-student.section-large(class="bg-primary-3")
	.container 
		h2(class="text-3xl lg:text-6xl font-bold text-white text-center mb-10") Tổng hợp video của học viên tại đồ họa thuận yến
		.grid(class="grid-cols-2 gap-5 overflow-hidden")
			-for(i=0;i<4;i++)
				.item(class="overflow-hidden") 
					.wrap-video
						<iframe width="540" height="304" src="https://www.youtube.com/embed/Ibn_ITOhiv8" title="Bài tập học viên Phạm Dương Trung Nghĩa  khóa học Depence  + grand MA Timecode Lighting Show" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

section.home-section-gallery.relative(class="section-large") 
	.container 
		h2(class="text-3xl lg:text-6xl font-bold text-white text-center mb-10") Tổng hợp video của học viên tại đồ họa thuận yến
		.wrap-gallery
			.grid(class="grid grid-cols-1 md:grid-cols-12 gap-5")
				.grid(class="lg:col-span-4")
					a(href="./img/banner.jpg" data-fancybox="gallery" class="relative image-big")
						.relative
							div(class="image ratio:pt-[458_444] img-ratio img-zoom")
								img(src="./img/banner.jpg", alt="")
							.wrap-btn-play
								a(href="https://www.youtube.com/watch?v=9qTr1CGFYLg" data-fancybox) 
									.icon

				.grid(class="lg:col-span-8 grid-cols-2 md:grid-cols-4 h-fit gap-5")
					-for(i=0;i<8;i++)
						.item(class="col-span-1 relaitve")
							a(href="./img/banner.jpg" data-fancybox="gallery" class="relative image-small") 
								.relative
									div(class="ratio:pt-[225_220] img-ratio image img-zoom")
										img(src="./img/banner.jpg", alt="")
									.wrap-btn-play
										a(href="https://www.youtube.com/watch?v=9qTr1CGFYLg" data-fancybox) 
											.icon 

section.section-large
	.container 
		h2(class="text-3xl lg:text-6xl font-bold text-white text-center mb-10") Tổng hợp video của học viên tại đồ họa thuận yến
		.row(class="items-center") 
			.col(class="lg:w-1/2")
				.image(class="img-ratio ratio:pt-[290_530] img-zoom rounded-lg overflow-hidden")
					img(src="./img/banner.jpg", alt="")
			.col(class="lg:w-1/2")
				.content(class="text-white flex flex-col gap-3 mt-5 lg:mt-0")
					.title(class="title-20") Học tập cùng chuyên gia trên hệ thống trang thiết bị hiện đại.
					.desc(class="text-base")
						p Học tập cùng chuyên gia trên hệ thống trang thiết bị hiện đại.
						p Học tập cùng chuyên gia trên hệ thống trang thiết bị hiện đại.
						p Học tập cùng chuyên gia trên hệ thống trang thiết bị hiện đại.

section.section-large
	.container 
		.content(class="text-white mb-10")
			h2(class="text-3xl lg:text-6xl font-bold text-white text-center mb-2") Tổng hợp video của học viên tại đồ họa thuận yến
			.desc(class="text-base text-white text-center") Đồ họa Thuận Yến giới thiệu đến các bạn quy trình tối ưu và tiên tiến nhất cho giải pháp V-Jing vận hành màn hình Led với Rerolume và bàn điều khiển AKAI
		.row.items-center
			-for(i=0;i<2;i++)
				.col(class="lg:w-5/12 mb-7")
					.image(class="img-ratio ratio:pt-[248_440] img-zoom rounded-lg overflow-hidden") 
						img(src="./img/banner.jpg", alt="")
				.col(class="lg:w-7/12 mb-7")
					.content(class="text-white flex flex-col gap-3") 
						h4(class="title-20") RESOLUME ARENA
						.desc(class="text-base") Khóa học giúp các bạn làm chủ và vận hành phần mềm Resolume chuyên nghiệp với kỹ năng phân tích hệ thống Led, thiết kế Visual trên hệ thống Mapping và vận hành phần mềm Resolume từ cơ bản đến nâng cao cho sân khấu, sự kiện cùng kỹ năng thiết kế Visual cho các tiết mục của sự kiện.

section.section-gallery-swiper.section-large
	.container 
		h2(class="text-3xl lg:text-6xl font-bold text-white mb-10") Tổng hợp video của học viên tại đồ họa thuận yến
		.main-slider 
			.relative
				.swiper
					.swiper-wrapper 
						-for(i=0;i<6;i++)
							.swiper-slide
								.image(class="lg:ratio:pt-[350_690] img-ratio img-zoom") 
									img(src="./img/1.png", alt="")
		.thumb-slider(class="mt-8") 
			.relative 
				.swiper
					.swiper-wrapper
						-for(i=0;i<6;i++)
							.swiper-slide
								.image(class="ratio:pt-[70_120] img-ratio img-zoom") 
									img(src="./img/1.png", alt="")
				.global-slider-style-1
					.btn-next
					.btn-prev

section.section-large.section-about
	.container 
		h2(class="text-3xl lg:text-6xl font-bold text-white mb-10") Tổng hợp video của học 
		.grid(class="grid-cols-2 lg:grid-cols-4 gap-5")
			-for(i=0;i<4;i++)
				.item(class="") 
					.icon 
						img(src="./img/ico.png", alt="" class="")
					h5(class="") Voucher
					.caption 10-20% cho khóa học tiếp theo
section
	.container
		.box-desc(class="text-white")
			.item(class="p-8 flex flex-col gap-2")
				h3(class="text-24 text-primary-1 font-bold") Mô tả công việc
				.content Đề xuất phát triển nội dung trực tuyến hấp dẫn bao gồm clickbait, diễn đàn, video, hình ảnh, blog…; theo dõi và phân tích sự thành công của nộidung đã tạo.



section.section-large.section-list-course
	.container 
		.content(class="text-white mb-10")
			h2(class="text-3xl lg:text-6xl font-bold text-white text-center mb-2") Tổng hợp video của học viên tại đồ họa thuận yến
			.desc(class="text-base text-white text-center") Đồ họa Thuận Yến giới thiệu đến các bạn quy trình tối ưu và tiên tiến nhất cho giải pháp V-Jing vận hành màn hình Led với Rerolume và bàn điều khiển AKAI
		.wraper-content
			-for(i=0;i<3;i++)
				.row.items-center
					.col(class="lg:w-5/12")
						a(href="") 
							.image(class="img-ratio ratio:pt-[248_440] img-zoom rounded-lg overflow-hidden") 
								img(src="./img/banner.jpg", alt="")
					.col(class="lg:w-7/12")
						.content(class="text-white flex flex-col gap-3") 
							h4(class="title-20")
								a RESOLUME ARENA
							.desc(class="text-base") Khóa học giúp các bạn làm chủ và vận hành phần mềm Resolume chuyên nghiệp với kỹ năng phân tích hệ thống Led, thiết kế Visual trên hệ thống Mapping và vận hành phần mềm Resolume từ cơ bản đến nâng cao cho sân khấu, sự kiện cùng kỹ năng thiết kế Visual cho các tiết mục của sự kiện.
							a(href="" class="btn-sw btn-secondary")
								.text Xem thêm
								.icon