section.section-home-5.relative.section-large.home-cols-6.hidden
	.container 
		.content(class="text-white")
			.caption thông tin mô tả về đồ họa thuận yến
			h2(class="title-48 mb-5 md:mb-0") Về đồ họa thuận yến
			.global-slider-style-3
				.btn-next
				.btn-prev
		.wrap-real-video
			.swiper.relative
				.swiper-wrapper
					-for(i=0;i<8;i++)
						.swiper-slide
							.item(class="relative")
								.image(class="img-ratio ratio:pt-[470_264] relative rounded-lg") 
									p
										<iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F1863880544450899%2F&show_text=false&width=267&t=0" width="267" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>