section.section-home-8.section-large.bg-primary-3
	.container 
		h2(class="text-3xl lg:rem:text-[42px] text-center text-white font-bold mb-10") Khóa học thế kế sân khấu sư kiên mô phỏng 3D
		.grid(class="md:grid-cols-2 lg:grid-cols-3 gap-10")
			-for(i=0;i<6;i++)
				.item-box(class="rounded-lg overflow-hidden")
					.image(class="ratio:pt-[276_440] img-ratio")
						img(src="./img/img-1.jpg", alt="")
					.content(class="h-full text-white flex flex-col gap-4 p-4 bg-primary-2")
						h3(class="title-20 line-clamp-2")
							a(href="") Sketchup – Depence R3 – M.a 
						.caption(class="text-base font-normal line-clamp-4") Thiết kế sân khấu, sự kiện, Booth Activation với Sketchup và Depence R3 Timecode Lighting Show, Render hình ảnh và Video là giải phái tối ưu nhất cho các bạn
						a(href="" class="btn-sw btn-secondary")
							.text Xem thêm
							.icon