section.global-banner
	.wrapper-banner
		.image(class="img-ratio ratio:pt-[550_1920]")
			img(src="./img/banner.jpg", alt="")
	.global-breadcrumb
		.container
			h1(class="text-3xl lg:text-6xl font-bold") Liên hệ
			nav
				p
					a(href="") Home
					span.separator |
					span Sản phẩm
