section.section-banner
	.banner-page-home 
		.relative
			.swiper
				.swiper-wrapper 
					.swiper-slide 
						.item-banner
							.image(class="img-ratio pt-[calc(350/1920*100rem)] lg:pt-[calc(840/1920*100rem)]  relative overflow-hidden") 
								img(src="./img/1.png", alt="")
							.container
								.caption
									div(class="text") Học nghề HOT cùng </br> Đồ họa Thuận Yến
					.swiper-slide
						.item-banner
							.wrap-video(class="img-ratio pt-[calc(350/1920*100rem)] lg:pt-[calc(840/1920*100rem)]")
								video(width="100%" autoplay muted loop style="object-fit: cover; height=720px; ")
									source(src="https://media.istockphoto.com/id/2176705894/vi/video/video-m%C3%A1y-bay-kh%C3%B4ng-ng%C6%B0%E1%BB%9Di-l%C3%A1i-bay-qua-l%C3%A0ng-glynde-%E1%BB%9F-east-sussex-anh.mp4?s=mp4-640x640-is&k=20&c=_lu4VMmhfl7odkQNhCK45hpz282V8d5v3hlWGgqcQ8E=" type="video/mp4")
			.global-pagination-style-2
				.swiper-pagination