.section-banner
	.item-banner
		@apply relative text-white
		// &::before
		// 	content: ""
		// 	background: linear-gradient(0deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4))
		// 	@apply absolute-full z-1
		img
			@apply absolute top-0 left-0 w-full h-full object-cover
		.caption
			@apply text-center absolute top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4 z-10
			@apply w-full lg:rem:w-[1024px]
			.text
				background: linear-gradient(180deg,#FFC700 20.77%,#FFA800 80.53%)
				background-clip: text
				-webkit-background-clip: text
				-webkit-text-fill-color: transparent
				@apply rem:text-[45px] lg:rem:text-[80px] font-bold text-[#f73936]
		.wrap-video
			@apply relative overflow-hidden
			video
				@apply absolute top-0 left-0 w-full h-full object-cover