footer(class="text-black section-large pb-0 bg-primary-4")
	.container 
		.row(class="gap-5 lg:gap-0 pb-10")
			.col(class="lg:w-3/12")
				.footer-column-1
					.logo-footer
						img(src="./img/logo.png", alt="")
					.caption(class="text-lg font-medium") Đồ Họa Thuận Yến luôn tự hào là đơn vị tiên phong đã đào tạo hàng ngàn học viên cho các công ty chuyên ngành.
					.list-contact
						ul
							-for(i=0;i<3;i++)
								li
									a(href="")
										i(class="fa-light fa-location-dot") 
										| 20/6 Đồng Xoài, Phường 13, Quận Tân Bình, Tp. HCM
			.col(class="lg:w-3/12")
				.footer-column-2 
					h3 Khóa học chuyên sâu
					.footer-menu-2 
						ul
							-for(i=0;i<5;i++)
								li
									a(href="")  Thiết kế Timecode Lighting show sân khấu, sự kiện 
			.col(class="lg:w-3/12")
				.footer-column-3
					h3 Khóa học chuyên sâu
					.footer-menu-3
						ul
							-for(i=0;i<5;i++)
								li
									a(href="")  Thiết kế Timecode Lighting show sân khấu, sự kiện 
			.col(class="lg:w-3/12")
				.footer-column-4 
					h3(class="text-24 font-bold") Follow Thuận Yến
					.form-contact-footer
						.form-group
							input(type="text" placeholder="Số điện thoại")
							button(type="submit") 
								<i class="fa-light fa-paper-plane-top"></i>
					.list-social
						ul
							-for(i=0;i<3;i++)
								li 
									a(href="")
										img(src="./img/ico-1.png", alt="")
	div(class="coppy-right py-8 text-center border-neutral-300 border-t")
		.container 
			span Copyright@ 1999 - 2022, All right reserved - Website: Trung tâm đồ họa Thuận Yến Chính sách bảo mật thông tin đã được đăng ký bản quyền bởi DMCA, RAPIDSSL, BỘ CÔNG THƯƠNG, xin vui lòng ghi rõ nguồn https://www.dohoathuanyen.vn/ khi Copy nội dung từ trang Web này


.wrap-scroll-top 
	.fixed-tool 
		a(id="backtop" class="icon-action") 
			<i class="fa-sharp fa-light fa-arrow-up"></i>
		a(href="" class="icon-action zoom-phone") 
			img(src="./img/phone-call.png", alt="", class="ring-phone")

.wrap-scroll-left 
	.fixed-tool
		a(href="" class="icon-action zoom-phone") 
			img(src="./img/phone-call.png", alt="", class="ring-phone")

.social-left
	.hotline-phone.relative
		.line-phone.line-ring.phone-ring-circle
		.line-phone.line-circle
		.line-img-circle
			a(href="")
				img(src="./img/phone-call.png", alt="", class="ring-phone")
	.hotline-number
		a(href="") 
			span 0909 909 909
		