section.section-home-9.section-large 
	.container 
		.wrap-title(class="text-white flex items-center justify-between pb-10") 
			h2(class="text-3xl lg:text-6xl font-bold") Our Best AI Solutions
			a(href="" class="btn btn-primary")
				.text Xem Thêm
				.icon
		.grid(class="lg:grid-cols-2 gap-10")
			.col-left(class="text-white")
				.wrap-content(class="flex flex-col gap-4")
					.item
						.accordion-title(class="" data-image="./img/img-1.jpg")
							.title  What services does your agency provide?
							.icon 
								i(class="fa-light fa-plus")
						.accordion-content
							.content and development, UX/UI design, social media marketing, digital advertising, video production, and content creation.
					.item
						.accordion-title(class="" data-image="./img/banner.jpg")
							.title  What services does your agency provide?
							.icon 
								i(class="fa-light fa-plus")
						.accordion-content
							.content and development, UX/UI design, social media marketing, digital advertising, video production, and content creation.
			.col-right
				.faq-image(class="ratio:pt-[1/1] img-ratio rounded-xl overflow-hidden duration-500 transition-all")
					img(src="./img/img-1.jpg", alt="")