.section-home-4 
	.container
		h2(class="text-3xl lg:text-6xl text-center font-bold mb-10 text-black") We Provide Amazing Web Design Solutions
		div(class="grid sm:grid-cols-2 gap-6")
			-for(i=0;i<4;i++)
				.item(class="text-black p-10 flex gap-8 bg-primary-4 rounded-xl") 
					.icon 
						img(src="./img/ico.png", alt="" class="rem:w-[80px] rem:h-[80px] brightness-[0%]")
					.content(class="flex flex-col gap-4")
						h3(class="text-24 font-bold") Digital Strategy Planning
						.desc(class="line-clamp-2") This strategy encompasses a wide range of activities, from online marketing and social media to website...
						a(href="" class="btn-sw btn-secondary")
							.text Xem thêm
							.icon