section.section-image.section-large
	.container
		.grid(class="md:grid-cols-3 gap-10")
			-for(i=0;i<6;i++)
				.item
					.image 
						a(href="" class="img-ratio ratio:pt-[382_680] img-ratio img-zoom") 
							img(src="./img/banner.jpg", alt="")
					h3(class="text-24 font-bold text-white mt-4 hover:text-primary-1")
						a(href="") Tạo hiệu ứng Glowing Flow Line With Volna